<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>


    <div class="text-center p-5 mb-0 bg-primary text-white">
        <h1>pixle shop</h1>
    </div>

    <nav class="navbar navbar-expand-lg bg-black navbar-dark mb-0">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wavefunctioncollapse">Wave Function Collapse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/filter">Filter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pixelArt">Pixel Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dotted">Dotted</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    


</body>
</html>
